@use "variables" as v;
@use "base/mixins" as m;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  line-height: 1.5;
  height: 100vh;
  display: flex;
  flex-direction: column;
  // margin: 0;
}

main {
  flex: 1;
}

a{
  text-decoration: none;
}

button{
  border: none;
  background-color: transparent;
}

h2{
  color: v.$ButtonGreen;
  font-size: 5rem;
  font-weight: normal
}
button{
  background-color: v.$ButtonGreen;
  color: v.$white;
  font-weight: bold;
  padding: 1.75rem 1.5rem;
  border-radius: 1rem;
}