@use "variables" as v;
@use "base/mixins" as m;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  line-height: 1.5;
  height: 100vh;
  display: flex;
  flex-direction: column;
  // margin: 0;
}

main {
  flex: 1;
}

h2 {
  font-size: 1.25rem;
  @include m.mobile {
    font-size: 1.5rem;
  }
  @include m.tablet {
    font-size: 1.75rem;
  }
  @include m.desktop {
    font-size: 2rem;
  }
}

h3 {
  font-family: v.$title;
  font-size: 1.5rem;
  @include m.mobile {
    font-size: 1.75rem;
  }
  @include m.tablet {
    font-size: 1.9rem;
  }
  @include m.desktop {
    font-size: 2.2rem;
  }
  @include m.desktopXL {
    font-size: 2.5rem;
  }
}

p {
  font-family: v.$textNarrow;
  font-size: 1.2rem;
  @include m.mobile {
    font-size: 1.4rem;
  }
  @include m.tablet {
    font-size: 1.5rem;
  }
  @include m.desktop {
    font-size: 1.7rem;
  }
  @include m.desktopXL {
    font-size: 1.9rem;
  }
}

.info-text {
  a {
    font-family: v.$textNarrow;
    font-size: 1.2rem;
    @include m.mobile {
      font-size: 1.4rem;
    }
    @include m.tablet {
      font-size: 1.5rem;
    }
    @include m.desktop {
      font-size: 1.7rem;
    }
    @include m.desktopXL {
      font-size: 1.9rem;
    }
  }
}

ul {
  padding-left: 0;
  p {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @include m.laptop {
    font-size: 2rem;
  }
}

li {
  list-style: disc;
  list-style-position: inside;
  font-size: 1.2rem;
  @include m.mobile {
    font-size: 1.4rem;
  }
  @include m.tablet {
    font-size: 1.5rem;
  }
  @include m.desktop {
    font-size: 1.7rem;
  }
  @include m.desktopXL {
    font-size: 1.9rem;
  }
}

form {
  p {
    font-size: 1.1rem;
    @include m.mobile {
      font-size: 1.35rem;
    }
    @include m.tablet {
      font-size: 1.45rem;
    }
    @include m.desktop {
      font-size: 1.65rem;
    }
    @include m.desktopXL {
      font-size: 1.85rem;
    }
  }
}

a {
  font-size: 1.3rem;
  text-decoration: none;
  color: unset;
  @include m.tablet {
    font-size: 1.5rem;
  }
  @include m.laptop {
    font-size: 1.6rem;
  }
  @include m.desktopXL {
    font-size: 1.8rem;
  }
}

td {
  font-size: 1.1rem;
  @include m.tablet {
    font-size: 1.25rem;
  }
  @include m.desktop {
    font-size: 1.5rem;
  }
}

tr {
  vertical-align: middle;
}

button,
.btn {
  font-size: 1.25rem;
  @include m.mobile {
    font-size: 1.5rem;
  }
  @include m.laptop {
    // font-size: 1.5rem;
  }
  @include m.desktop {
    // font-size: 1.5rem;
  }
  @include m.desktopXL {
    // font-size: 1.5rem;
  }
}

.form-select,
.form-control,
.invalid-feedback {
  font-size: 1rem;
  @include m.mobile {
    font-size: 1.25rem;
  }
  @include m.laptop {
    font-size: 1.75rem;
  }
  @include m.desktop {
    // font-size: 0.75rem;
  }
  @include m.desktopXL {
    // font-size: 1.5rem;
  }
}

label {
  font-size: 1.5rem;
  @include m.mobile {
    font-size: 1.5rem;
  }
  @include m.laptop {
    font-size: 2rem;
  }
  @include m.desktop {
    // font-size: 0.75rem;
  }
  @include m.desktopXL {
    // font-size: 1.5rem;
  }
}