// Tipografía

@font-face {
    font-family: 'CodeProBoldLC';
    src: url('../fonts/CodeProBoldLC.otf') format('opentype');
}

@font-face {
    font-family: 'BaseticaPro-Med';
    src: url('../fonts/BaseticaPro-Med.otf') format('opentype'); 
}

@font-face {
    font-family: 'CamingoDosProCd-SemiBold';
    src: url('../fonts/CamingoDosProCd-SemiBold.otf') format('opentype'); 
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/Gotham-Bold.otf') format('opentype'); 
}

$titleBold: 'CodeProBoldLC';
$title: 'Gotham-Bold';
$textNarrow: 'CamingoDosProCd-SemiBold';
$text: 'BaseticaPro-Med';

// Colores

$white: #ffffff;
$greenDark: #025157;
$greenLight: #67b54b;

// Tamaños de Media Queries

$mobile: 320px;
$tablet: 481px;
$laptop: 768px;
$desktop: 1025px;
$desktopXL: 1201px;