// Tipografía

@font-face {
    font-family: 'CodeProBoldLC';
    src: url('../fonts/CodeProBoldLC.otf') format('opentype');
}

@font-face {
    font-family: 'BaseticaPro-Med';
    src: url('../fonts/BaseticaPro-Med.otf') format('opentype'); 
}

@font-face {
    font-family: 'CamingoDosProCd-SemiBold';
    src: url('../fonts/CamingoDosProCd-SemiBold.otf') format('opentype'); 
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/Gotham-Bold.otf') format('opentype'); 
}

$titleBold: 'CodeProBoldLC';
$title: 'Gotham-Bold';
$textNarrow: 'CamingoDosProCd-SemiBold';
$text: 'BaseticaPro-Med';

// Colores

$white: #ffffff;
$primaryBlue: #2BAFE5;
$primaryBlueDark: #1a9bc4;
$primaryRed: #B71918;
$secondaryGray: #747474;
$grayBackground: #dfe7ec;
$serviceBackground: #deebef;
$primaryBtn: #2ba7dd;
$secondaryBtn: #ffccd9;
$pinkBtn: #ffccd9;
$pinkText: #e26d93;
$blueBtn: #2ba7dd;
$blueGridDark: #1a92bb;
$blueGrid: #1a90bbb0;
$formBackground: #f2f2f2;
$formInput: #d7d7d7;
$facebook: #3b5998;
$instagram: #C13584;
$secondaryBlue: #6cafb1;
$pinkTextBtn: #de6d8f;

// Tamaños de Media Queries

$mobile: 320px;
$tablet: 481px;
$laptop: 768px;
$desktop: 1025px;
$desktopXL: 1201px;